@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header h1 {
  font-family: "Lobster", sans-serif;
  padding-left: 1%;
  transform: translateY(3px);
}

nav {
  flex-grow: 1; 
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  width: 100%;
}

menu li a, menu li span {
  color: white;
  padding: 19px 15px;
  text-decoration: none;
}

menu li a:hover {
  background-color: hsl(295, 96%, 14%);
}

menu li:last-child {
  margin-left: auto;
}

main {
  flex: 1;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #6e009d, #2b102c, #1c0020);
}

main h1 {
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.login {
  padding-top: 1%;
}

input {
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
}

input::placeholder {
  font-size: 1em;
  color: #999;  
  padding-left: 2%; 
}

button {
  position: relative;
  left: 32%;
  bottom: -5%;
}

footer {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer span, footer a {
  
  padding: 0.25%;
  align-items: center;
}