@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  background: hsl(295, 81%, 24%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header h1 {
  font-family: "Lobster", sans-serif;
  padding-left: 1%;
}

nav {
  flex-grow: 1; 
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  width: 100%;
}

menu li a, menu li span {
  color: white;
  padding: 0px 15px;
  text-decoration: none;
}

menu li a:hover {
  background-color: #111111;
}

menu li:last-child {
  margin-left: auto;
}

main {
  flex: 1;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("background.jpg");
}

footer {
  flex: 0 50px;
  background: hsl(180, 30%, 15%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}