@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&display=swap');

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header h1 {
  font-family: "Lobster", sans-serif;
  padding-left: 1%;
  transform: translateY(3px);
}

nav {
  flex-grow: 1; 
}

menu {
  display: flex;
  flex-direction: row !important;
  list-style: none;
  align-items: center;
  width: 100%;
}

menu li a, menu li span {
  color: white;
  padding: 19px 15px;
  text-decoration: none;
}

menu li a:hover {
  background-color: hsl(295, 96%, 14%);
}

menu li:last-child {
  margin-left: auto;
}






footer {
  flex: 0 50px;
  background: hsl(295, 96%, 11%);
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer span, footer a {
  
  padding: 0.25%;
  align-items: center;
}